---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  selector:
    app: frontend
  type: ClusterIP   # or LoadBalancer for external access
  ports:
    - port: 80
      targetPort: 80