---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  type: ClusterIP   # or LoadBalancer for external access
  ports:
    - port: 80
      targetPort: 5000
